In [152]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import ast

In [153]:
genredata = pd.read_csv('datawithgenre.csv')
df = pd.read_csv('charts.csv')

In [154]:
df.head()

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,1958-08-04,1,Poor Little Fool,Ricky Nelson,NaN,1,1
1,1958-08-04,2,Patricia,Perez Prado And His Orchestra,NaN,2,1
2,1958-08-04,3,Splish Splash,Bobby Darin,NaN,3,1
3,1958-08-04,4,Hard Headed Woman,Elvis Presley With The Jordanaires,NaN,4,1
4,1958-08-04,5,When,Kalin Twins,NaN,5,1

In [155]:
df['artist']

0                               Ricky Nelson
1              Perez Prado And His Orchestra
2                                Bobby Darin
3         Elvis Presley With The Jordanaires
4                                Kalin Twins
                         ...
326682                           Dylan Scott
326683                         Morgan Wallen
326684                                Giveon
326685                        Dierks Bentley
326686                               Karol G
Name: artist, Length: 326687, dtype: object

In [156]:
genredata.head()

,Unnamed: 0,date,rank,song,artist,last-week,peak-rank,weeks-on-board,genre
0,0,1958-08-04,1,Poor Little Fool,Ricky Nelson,NaN,1,1,"['adult standards', 'brill building pop', 'bub..."
1,1,1958-08-04,2,Patricia,Perez Prado And His Orchestra,NaN,2,1,"['latin jazz', 'mambo', 'space age pop']"
2,2,1958-08-04,3,Splish Splash,Bobby Darin,NaN,3,1,"['adult standards', 'brill building pop', 'eas..."
3,3,1958-08-04,4,Hard Headed Woman,Elvis Presley With The Jordanaires,NaN,4,1,"['adult standards', 'rock-and-roll', 'rockabil..."
4,4,1958-08-04,5,When,Kalin Twins,NaN,5,1,"['deep adult standards', 'doo-wop']"

In [157]:
genredata = genredata.drop(genredata.columns[0], axis=1)

In [158]:
genredata.head()

,date,rank,song,artist,last-week,peak-rank,weeks-on-board,genre
0,1958-08-04,1,Poor Little Fool,Ricky Nelson,NaN,1,1,"['adult standards', 'brill building pop', 'bub..."
1,1958-08-04,2,Patricia,Perez Prado And His Orchestra,NaN,2,1,"['latin jazz', 'mambo', 'space age pop']"
2,1958-08-04,3,Splish Splash,Bobby Darin,NaN,3,1,"['adult standards', 'brill building pop', 'eas..."
3,1958-08-04,4,Hard Headed Woman,Elvis Presley With The Jordanaires,NaN,4,1,"['adult standards', 'rock-and-roll', 'rockabil..."
4,1958-08-04,5,When,Kalin Twins,NaN,5,1,"['deep adult standards', 'doo-wop']"

In [159]:
genredata['genre']

0        ['adult standards', 'brill building pop', 'bub...
1                 ['latin jazz', 'mambo', 'space age pop']
2        ['adult standards', 'brill building pop', 'eas...
3        ['adult standards', 'rock-and-roll', 'rockabil...
4                      ['deep adult standards', 'doo-wop']
                               ...
24249    ['contemporary country', 'country', 'country r...
24250                                                   []
24251                                   ['brooklyn drill']
24252    ['contemporary country', 'country', 'country d...
24253              ['contemporary country', 'country pop']
Name: genre, Length: 24254, dtype: object

In [160]:
artist_genre_dict = dict(zip(genredata.artist, genredata.genre))

In [161]:
allgenreslist = [] #this will house the genres column for the overall dataset and is intermediary

In [162]:
for name in df['artist']:
    try:
        genre = artist_genre_dict[name]
        allgenreslist.append(genre)
    except:
        allgenreslist.append([])

In [163]:
df['genre'] = allgenreslist

In [164]:
cleandf = df[df['genre'].map(lambda d: len(d)) > 0] #dropping all rows where the genre is unknown

In [165]:
availablegenres = [] #this is a list containing the name of all genres present within the dataset, this well help in mapping them to the overall genres

In [166]:
allgenreslistclean = [] #converting the strings into lists

In [36]:
for genres in cleandf['genre']:
    try:
        allgenreslistclean.append(ast.literal_eval(genres))
    except:
        allgenreslistclean.append([])

In [37]:
cleandf.head()

,date,rank,song,artist,last-week,peak-rank,weeks-on-board,genre
0,1958-08-04,1,Poor Little Fool,Ricky Nelson,NaN,1,1,"['adult standards', 'brill building pop', 'bub..."
1,1958-08-04,2,Patricia,Perez Prado And His Orchestra,NaN,2,1,"['latin jazz', 'mambo', 'space age pop']"
2,1958-08-04,3,Splish Splash,Bobby Darin,NaN,3,1,"['adult standards', 'brill building pop', 'eas..."
3,1958-08-04,4,Hard Headed Woman,Elvis Presley With The Jordanaires,NaN,4,1,"['adult standards', 'rock-and-roll', 'rockabil..."
4,1958-08-04,5,When,Kalin Twins,NaN,5,1,"['deep adult standards', 'doo-wop']"

In [38]:
cleandf['genre'] = allgenreslistclean

<ipython-input-38-1906c66c3a5d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleandf['genre'] = allgenreslistclean

In [39]:
cleandf.head()

,date,rank,song,artist,last-week,peak-rank,weeks-on-board,genre
0,1958-08-04,1,Poor Little Fool,Ricky Nelson,NaN,1,1,"[adult standards, brill building pop, bubblegu..."
1,1958-08-04,2,Patricia,Perez Prado And His Orchestra,NaN,2,1,"[latin jazz, mambo, space age pop]"
2,1958-08-04,3,Splish Splash,Bobby Darin,NaN,3,1,"[adult standards, brill building pop, easy lis..."
3,1958-08-04,4,Hard Headed Woman,Elvis Presley With The Jordanaires,NaN,4,1,"[adult standards, rock-and-roll, rockabilly]"
4,1958-08-04,5,When,Kalin Twins,NaN,5,1,"[deep adult standards, doo-wop]"

In [40]:
cleandf.to_csv('fullcleandata.csv')

In [48]:
def map_genre(genres):
    choices = {'Pop':0, 'Rock':0, 'Rock and Roll':0, 'Jazz':0, 'Country':0, 'Rap/Hip-Hop':0, 'R&B':0, 'Soul':0, 'Folk':0, 'EDM':0, 'Latin':0, 'Metal':0, 'Punk':0, 'Ska/Reggae/Danceball':0}
    for genre in genres:
        if 'pop' in genre:
            choices['Pop'] += 1
        elif (('rock-and-roll' in genre) or ('rockabilly' in genre)):
            choices['Rock and Roll'] += 1
        elif 'rock' in genre:
            choices['Rock'] += 1
        elif 'jazz' in genre:
            choices['Jazz'] += 1
        elif 'country' in genre:
            choices['Country'] += 1
        elif (('rap' in genre) or ('hip hop' in genre) ):
            choices['Rap/Hip-Hop'] += 1
        elif ('r&b' in genre):
            choices['R&B'] += 1
        elif ('soul' in genre):
            choices['Soul'] += 1
        elif 'folk' in genre:
            choices['Folk'] += 1
        elif ('edm' in genre) or ('trance' in genre) or ('house' in genre) or ('electro' in genre) or ('future' in genre):
            choices['EDM'] += 1
        elif ('latin' in genre) or ('mexican' in genre):
            choices['Latin'] += 1
        elif ('metal' in genre):
            choices['Metal'] += 1
        elif ('punk' in genre):
            choices['Punk'] += 1
        elif ('reggae' in genre) or ('ska' in genre) or ('danceball' in genre):
            choices['Ska/Reggae/Danceball'] += 1
        else:
            choices['Pop'] += 1
    chosen_genre = max(choices, key=choices.get)
    return chosen_genre

In [50]:
cleandf['genre'] = cleandf['genre'].apply(map_genre)

<ipython-input-50-fcb9d9a5f438>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleandf['genre'] = cleandf['genre'].apply(map_genre)

In [51]:
cleandf.head()

,date,rank,song,artist,last-week,peak-rank,weeks-on-board,genre
0,1958-08-04,1,Poor Little Fool,Ricky Nelson,NaN,1,1,Pop
1,1958-08-04,2,Patricia,Perez Prado And His Orchestra,NaN,2,1,Pop
2,1958-08-04,3,Splish Splash,Bobby Darin,NaN,3,1,Pop
3,1958-08-04,4,Hard Headed Woman,Elvis Presley With The Jordanaires,NaN,4,1,Rock and Roll
4,1958-08-04,5,When,Kalin Twins,NaN,5,1,Pop

In [54]:
cleandf.to_csv('finaldatawithsinglegenre.csv')

In [56]:
cleandf['date'] = pd.to_datetime(cleandf['date'])
cleandf['year'] = cleandf['date'].dt.year

<ipython-input-56-4c4a0f77133e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleandf['date'] = pd.to_datetime(cleandf['date'])
<ipython-input-56-4c4a0f77133e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleandf['year'] = cleandf['date'].dt.year

In [57]:
cleandf.head()

,date,rank,song,artist,last-week,peak-rank,weeks-on-board,genre,year
0,1958-08-04,1,Poor Little Fool,Ricky Nelson,NaN,1,1,Pop,1958
1,1958-08-04,2,Patricia,Perez Prado And His Orchestra,NaN,2,1,Pop,1958
2,1958-08-04,3,Splish Splash,Bobby Darin,NaN,3,1,Pop,1958
3,1958-08-04,4,Hard Headed Woman,Elvis Presley With The Jordanaires,NaN,4,1,Rock and Roll,1958
4,1958-08-04,5,When,Kalin Twins,NaN,5,1,Pop,1958

In [58]:
cleandf.to_csv('finaldatawithyear.csv')

In [59]:
available_genres = np.unique(cleandf['genre'])
years = np.unique(cleandf['year'])

In [99]:
genrecounts_by_year = cleandf.groupby(['genre', 'year']).size()

In [100]:
totalyearcounts = cleandf.groupby(['year']).size()

In [71]:
genrecounts_by_year.to_csv('yearsandgenres.csv')

In [102]:
genrecounts_by_year['Country']

year
1958     43
1959    106
1960     72
1961     56
1962     58
       ...
2017    720
2018    571
2019    812
2020    554
2021    153
Length: 62, dtype: int64

In [103]:
genrecounts_by_year = cleandf.groupby(['year', 'genre']).size()

In [110]:
genrecounts_by_year[1958]['Country']

43

In [112]:
genrecounts_by_year.to_csv('yearsandgenres.csv')

In [132]:
yeargenredf = pd.DataFrame()

In [133]:
yeargenredf['genre'] = available_genres

In [134]:
yeargenredf

                   genre
0                Country
1                    EDM
2                   Folk
3                   Jazz
4                  Latin
5                  Metal
6                    Pop
7                   Punk
8                    R&B
9            Rap/Hip-Hop
10                  Rock
11         Rock and Roll
12  Ska/Reggae/Danceball
13                  Soul

In [135]:
genrecounts_by_year[1984]['Country']

35

In [136]:
for year in years:
    yeardata = genrecounts_by_year[year]
    yearvalues = []
    try:
        yearvalues.append(yeardata['Country'])
    except:
        yearvalues.append(0)
    try:
        yearvalues.append(yeardata['EDM'])
    except:
        yearvalues.append(0)
    try:
        yearvalues.append(yeardata['Folk'])
    except:
        yearvalues.append(0)
    try:
        yearvalues.append(yeardata['Jazz'])
    except:
        yearvalues.append(0)
    try:
        yearvalues.append(yeardata['Latin'])
    except:
        yearvalues.append(0)
    try:
        yearvalues.append(yeardata['Metal'])
    except:
        yearvalues.append(0)
    try:
        yearvalues.append(yeardata['Pop'])
    except:
        yearvalues.append(0)
    try:
        yearvalues.append(yeardata['Punk'])
    except:
        yearvalues.append(0)
    try:
        yearvalues.append(yeardata['R&B'])
    except:
        yearvalues.append(0)
    try:
        yearvalues.append(yeardata['Rap/Hip-Hop'])
    except:
        yearvalues.append(0)
    try:
        yearvalues.append(yeardata['Rock'])
    except:
        yearvalues.append(0)
    try:
        yearvalues.append(yeardata['Rock and Roll'])
    except:
        yearvalues.append(0)
    try:
        yearvalues.append(yeardata['Ska/Reggae/Danceball'])
    except:
        yearvalues.append(0)
    try:
        yearvalues.append(yeardata['Soul'])
    except:
        yearvalues.append(0)
    yeargenredf[year] = yearvalues

In [137]:
yeargenredf

,genre,1958,1959,1960,1961,1962,1963,1964,1965,1966,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Country,43,106,72,56,58,76,101,98,113,...,1028,977,987,894,703,720,571,812,554,153
1,EDM,17,17,36,0,16,13,30,23,19,...,16,15,13,41,5,20,0,0,0,2
2,Folk,14,52,26,11,25,91,67,44,31,...,0,0,0,0,0,0,0,0,0,0
3,Jazz,3,56,22,43,58,67,45,37,29,...,0,0,0,0,0,0,0,0,0,0
4,Latin,0,15,12,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Metal,0,3,0,20,18,3,0,22,15,...,30,31,23,2,20,2,18,0,0,0
6,Pop,1875,4467,4505,4622,4595,4430,4074,4012,3667,...,3217,3180,3274,3087,2984,2747,2549,2927,3032,655
7,Punk,0,10,0,0,0,7,0,4,3,...,0,0,0,0,0,0,0,0,0,0
8,R&B,0,0,0,11,5,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
9,Rap/Hip-Hop,4,82,62,31,1,27,41,1,34,...,329,435,258,671,936,918,1204,916,984,140
10,Rock,35,84,19,23,60,144,314,458,709,...,119,164,165,76,146,148,120,19,65,16
11,Rock and Roll,158,232,286,155,146,35,63,64,49,...,0,0,0,0,0,0,0,1,1,1
12,Ska/Reggae/Danceball,0,18,0,0,0,12,29,0,0,...,0,0,0,11,4,20,0,48,27,14
13,Soul,4,12,106,161,201,226,350,353,504,...,0,0,0,0,0,0,0,0,0,1

In [138]:
yeargenredf.to_csv('yearsandgenres.csv')

In [139]:
!pip install bar_chart_race

Collecting bar_chart_race
  Downloading bar_chart_race-0.1.0-py3-none-any.whl (156 kB)
Requirement already satisfied: pandas>=0.24 in c:\users\siddh\anaconda3\lib\site-packages (from bar_chart_race) (1.1.3)
Requirement already satisfied: matplotlib>=3.1 in c:\users\siddh\anaconda3\lib\site-packages (from bar_chart_race) (3.3.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\siddh\anaconda3\lib\site-packages (from pandas>=0.24->bar_chart_race) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\siddh\anaconda3\lib\site-packages (from pandas>=0.24->bar_chart_race) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\siddh\anaconda3\lib\site-packages (from pandas>=0.24->bar_chart_race) (1.19.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\siddh\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\siddh\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (8.0.1)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\siddh\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (2020.6.20)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\siddh\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\siddh\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (0.10.0)
Requirement already satisfied: six>=1.5 in c:\users\siddh\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->bar_chart_race) (1.15.0)
Installing collected packages: bar-chart-race
Successfully installed bar-chart-race-0.1.0

In [141]:
genrecounts_by_date = cleandf.groupby(['date', 'genre']).size()

In [142]:
genrecounts_by_date['1958-08-04']

genre
Jazz              1
Pop              86
Rap/Hip-Hop       1
Rock              2
Rock and Roll     7
dtype: int64